*{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}
body{
    font-family: 'Work Sans', sans-serif;
    color: black;
    background-color: purple;
    height: 100vh;
    display: block;
    
}
main{
    position: relative;
    text-align: left;
    background: white;
    padding-top: 260px;
    height: 70%;
    padding-left: 10px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;

}
header{
    background-color: purple;
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding-top: 20px;
    padding-left: 5px;
    display: flex;
    flex-wrap: wrap;
}
.links{
       width: auto;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding: 20px 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    
        }
        
        .links a{
            font-family: popping;
            align-items: center;
            text-align: center;
            background-color: #E26EE5;
            margin-left: 5px;
            display: block;
            padding: 10px 20px;
            border-radius: 25px;
            text-decoration: none;

        }
        .links a:hover{
            background-color: gray;
            color: white;
    
        }
        footer{
            background-color: white;
            display: flex;
            flex-wrap: wrap;
        }
        div{
            border: 1px solid none;
            width: 400px;
            height: auto;
            padding: 10px;
            margin: 5px;
            display: flex;
            flex-wrap: wrap;

        }
        div img{
            max-width: 100%;
            height: fit-content;
        }
        .logo img{
            height: 40px;
            margin: 5px;
        }
        .ig{
            width: 100px;
            height: 120px;
        }
        .vex{
            width: 50px;
            height: 50px;
        }
        .vex img{
            max-width: 100%;
        
        
        
        
        }
        .ig img{
            max-width: 100%;
        
        }
        
        
